.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .product-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-card h4 {
    margin: 10px 0;
  }
  
  .product-card button {
    background-color: #001F3F;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }